html {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f7fb;
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rdrDayDisabled .rdrInRange {
  background: none;
}

.rdrDayDisabled .rdrDayNumber span {
  color: #aeb9bf !important;
}

.rdrDayNumber .redDay::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background: #f50057;
  position: absolute;
  top: 1px;
  right: 5px;
}
